* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
 margin:auto;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.links a {
  color: #667085;
  text-decoration: none;
  margin-right: 2rem;
}

button {
  border: none;
  cursor: pointer;
  width: 120px;
  height: 50px;
  top: 0px;
  border-radius: 0.5rem;
  color: #667085;
  background: none;
  font-size: 0.9rem;
}

button#signUp {
  background-color: #8E2424;
  color: #fff;
}

/* text1 */

.about-us {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* poderia ser margin-bottom pra cada elemento, gap dá um espaçamento entre todos
    os filhos de uma div com display flex*/
}

.about-us span {
  color: #8E2424;
  font-size: 16px;
}

.about-us h1 {
  font-size: 2rem;
  color: var(--title-color);
  text-align: center;
  font-size: 48px;
}

.about-us p {
  color: #667085;
  max-width: 50%;
  text-align: center;
  line-height: 1.5rem;
}

/* Seção de métricas */

.metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  padding: 0 8rem;
}

.metric {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.metric h1 {
  color: #8E2424;
  font-size: 3rem;
}

.metric span {
  color: #667085;
  line-height: 140%;
  font-size: 90%;
}

.metric .metric-title {
  font-weight: 500;
  color: #101828;
}

/* talentos */

.talentos {
  text-align: center;
  margin-top: 96px;
}

.talentos span {
  display: block;
  color: #8E2424;
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  font-size: 16px;
  margin-bottom: 16px;
  width: 25vh;
  margin-left: 95vh;
}

.talentos h2 {
  text-align: center;
  color: var(--title-color);
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;

}

.talentos p {
  text-align: center;
  color: #667085;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

/* imagem principal */

.talentos img {
  margin-top: 2rem;

}

/* vagas */

.vagas-abertas {
  padding-top: 2rem;
  
}

.vagas-abertas span.principal {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--title-color);
}

.vagas {
  border: 1px solid #EAECF0;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--title-color);
  align-items: center;
}

.vaga span.titulo-vaga {
  font-weight: 500;
  margin-bottom: 16px;
}

.vagas .informacoes {
  margin-top: 1rem;
  font-size: 90%;
  color: #667085;
  display: flex;
  gap: 2rem;
}

/* comentários */

.comentario {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 8rem auto;
  background-color: rgba(195, 25, 25, 0.05);
  padding: 3rem 2rem;
  align-items: center;
}

.comentario span {
  color: #8E2424;
  font-weight: 500;
}

.comentario h2 {
  color: #101828;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}

.comentario span.nome {
  color: #101828;
  margin: 0.5rem 0;
  font-weight: 400;
}

.comentario span.cargo {
  color: #667085;
  font-weight: 400;
}

/* formulario */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F9FAFB;
  padding: 6rem 1rem;
  gap: 1.5rem;
  text-align: center;
}

footer h2 {
  color: #101828;
  font-size: 36px;
}

footer span {
  color: #667085;
}

footer form {
  display: flex;
  justify-content: space-between;
}

footer input {
  outline: none;
  border: 1px solid #D0D5DD;
  border-radius: 0.5rem;
  padding-left: 1rem;
  width: 20rem;
  margin-right: 1rem;
}

footer form .singUp {
  background: #8E2424;
  color: #FFFFFF;
}

/*responsivo */
@media screen and (max-width: 768px) {
  .metrics {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }
  .talentos {
    margin-top: 2rem;
  }
  .talentos span {
    margin-left: 0;
  }
  .vagas-abertas span.principal {
    max-width: 100%;
  }
  .vagas {
    max-width: 100%;
  }
  .comentario {
    max-width: 100%;
  }
  footer form {
    flex-direction: column;
  }
  footer input {
    margin-bottom: 1rem;
  }
}
  
@media screen and (max-width: 425px) {
  .metrics {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
  }
  .talentos span {
    margin-left: 0;
  }
  .vagas-abertas span.principal {
    max-width: 100%;
  }
  .vagas {
    max-width: 100%;
  }
  .comentario {
    max-width: 100%;
  }
  footer form {
    flex-direction: column;
  }
  footer input {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 375px) {

  .nav{
    width: 120px;
    height: 120px;
    margin-left: 0;
  }

  .link a{
    font-size: 12px;

  }
  .metrics {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
  }
  .talentos span {
    margin-left: 0;
  }
  .vagas-abertas span.principal {
    max-width: 100%;
  }
  .vagas {
    max-width: 100%;
  }
  .comentario {
    max-width: 100%;
  }
  footer form {
    flex-direction: column;
  }
  footer input {
    margin-bottom: 1rem;
  }
}
  