
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
    --text-color: #667085;
  }

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 1rem 0;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;
    top: 0px;
    border-radius: 0.5rem;
    color: var(--text-color);
    background: none;
    font-size: 0.9rem;
}

button#signUp {
    background-color: #8E2424;
    color: #fff;
}

/* text1 */

header {
    box-sizing: border-box;
    width: 1440px;
    height: 407px;
    margin-bottom: 96px;
    
}

.page {
    color:#8E2424;
    text-align: center;
    margin-top: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    color:#000000;
    text-align: center;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

.conteudo   {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
    text-align: center;
    word-break: break-word;
    margin-top: 36px;
}

/* metricas */

.metricas-container {
    height: 192px;
    width: 1280px;
    left: 80px;
    top: 0px;
    padding: 0px, 32px, 0px, 32px;
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 96px;
    display: flex;
}

.metricas-container h2 {
    margin-top: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #8E2424;
}

.metricas-container p {
    height: 72px;
    width: 280px;
    left: 0px;
    top: 36px;
    border-radius: nullpx;

}

/* text 2 */

.vagas {
    text-align: center;
    margin-top: 96px;
}

.vagas span {
    display: flex;
    align-items: center;
    color: #8E2424;
    background: rgba(142, 36, 36, 0.05);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    width: 125px;
    height: 28px;
    margin-left: 650px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    
}

.vagas h2 {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 20px;
  font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;

  }
  
  .vagas p {
    text-align: center;
    color: #667085;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

  }

  /* imagem principal */
  
  .vagas img {
    margin-top: 2rem;
    
  }